<div
    th:fragment="sidebar"
    class="list-group"
>

    <!-- Dashboard -->

    <a
        th:href="@{/}"
        class="list-group-item
               list-group-item-action"
        th:classappend="${activePage == 'dashboard'}
            ? ' active'"
    >
        Dashboard
    </a>


    <!-- Doctors -->

    <a
        th:href="@{/doctors}"
        class="list-group-item
               list-group-item-action"
        th:classappend="${activePage == 'doctors'}
            ? ' active'"
    >
        Doctors
    </a>


    <!-- Appointments -->

    <a
        th:href="@{/appointments}"
        class="list-group-item
               list-group-item-action"
        th:classappend="${activePage == 'appointments'}
            ? ' active'"
    >
        Appointments
    </a>


    <!-- Users -->

    <a
        th:href="@{/users}"
        class="list-group-item
               list-group-item-action"
        th:classappend="${activePage == 'users'}
            ? ' active'"
    >
        Users
    </a>


    <!-- Reports -->

    <a
        th:href="@{/reports}"
        class="list-group-item
               list-group-item-action"
        th:classappend="${activePage == 'reports'}
            ? ' active'"
    >
        Reports
    </a>


    <!-- Logout -->

    <form
        th:action="@{/logout}"
        method="post"
    >

        <input
            type="hidden"
            th:name="${_csrf?.parameterName}"
            th:value="${_csrf?.token}"
        >

        <button
            type="submit"
            class="list-group-item
                   list-group-item-action
                   text-danger"
        >
            Logout
        </button>

    </form>

</div>