<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
>

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>User Management</title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >

</head>

<body>

<div
    th:replace="~{portal/fragments/header :: header}"
>
</div>


<div class="container-fluid">

    <div class="row">

        <div class="col-md-2 p-0">

            <div
                th:replace="~{portal/fragments/sidebar :: sidebar}"
            >
            </div>

        </div>


        <div class="col-md-10 p-4">

            <h2 class="mb-4">
                User Management
            </h2>


            <!-- Search Form -->

            <form
                method="get"
                th:action="@{/users}"
                class="row g-3 mb-4"
            >

                <div class="col-md-5">

                    <input
    type="text"
    name="search"
    class="form-control"
    placeholder="Search users"
    th:value="${search}"
>

                </div>


                <div class="col-md-2">

                    <button
                        type="submit"
                        class="btn btn-primary"
                    >
                        Search
                    </button>

                </div>

            </form>


            <div class="card">

                <div class="card-body p-0">

                    <table class="table
                                  table-bordered
                                  table-hover
                                  mb-0">

                        <thead>

                            <tr>

                                <th>Name</th>

                                <th>Email</th>

                                <th>Contact</th>

                                <th>Actions</th>

                            </tr>

                        </thead>


                        <tbody>

                            <tr
                                th:each="user : ${users}"
                            >

                                <td
                                    th:text="${user.firstName
                                        + ' '
                                        + user.lastName}"
                                >
                                </td>


                                <td
                                    th:text="${user.email}"
                                >
                                </td>


                                <td
                                    th:text="${user.phoneNumber}"
                                >
                                </td>


                                <td>

                                    <a
                                        th:href="@{
                                            /users/{id}
                                            (id=${user.id})
                                        }"
                                        class="btn btn-sm
                                               btn-primary"
                                    >
                                        View
                                    </a>

                                </td>

                            </tr>


                            <!-- No Users -->

                            <tr
                                th:if="${#lists.isEmpty(users)}"
                            >

                                <td
                                    colspan="4"
                                    class="text-center"
                                >
                                    No patients found.
                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>

</div>

</body>

</html>